body {
    background-color: darkslategray;
    margin: 0px;
}

.container-jason {
    display: flex;
    flex: 1 1 150px;
    /*
    justify-content: center;
    */
    align-items: center;
}

.boxJason {
    background-color: firebrick;
    color: darkgray;
    padding: 8px;
    border: 10px solid darkviolet;
    text-align: center;
}

/*
.boxmyimage {
    justify-content: flex-end;
    width: 150px;
    height: 50px;
    background-image: url("kitten.jpg")
}
*/

.myimage {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateX(200px);
}
/*
.boxmyimage > img {
    width: 150px;
    height: 50px;
    height: 50%;
}

.boxmyimage > img:hover {
    opacity: 0;
}
*/
/*
.boxJason:hover::before {
    background-color: firebrick;
}

.boxJason:hover::after {
    background-color: firebrick;
}
*/
h2 {
    text-align: center;
    font-family: courier;
}

@media(min-width:768px){

.container-intro {
    display: flex;
    flex: 1;
    justify-content: flex-end;   
    border: 1px black solid; 
    padding: 10px;
    flex-direction: column;
    background-color: tan;
}

.box-1 {

    flex: 1;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 0px;
    border: 1px black solid; 
    padding: 5px;
    background-color: lightgreen;
}

.nav > ul {
    list-style-type: none;
}

.nav > ul > li {
    display: inline;
    padding: 10px;
    text-align: center;
}

.box-2 {
    

    /*
    position: sticky;
    top: 8px;
    right: 500px;
    */
}

.container-2 {
    display: flex;
    border: 1px black solid;
    justify-content: center;
}

.box-3 {
    padding: 10px;
    text-align: left;
    flex-basis: 350px;
}
/*
#places{
    text-align: left;
}
*/

.container-3 {
    display: flex;
    border: 1px black solid;
    align-items: center;
    justify-content: center;
}

.box-pic {
    padding: 10px;
}

.container-4 {
    display: flex;
    border: 1px black solid;
    justify-content: center;
}
.container-favhead{
    display: flex;
    justify-content: center;
    border: 1px black solid;
    background-color: darkred;
}

.box-fav {
    padding: 10px;
}

.container-fav { 
    display: flex;
    align-items: flex-start;
}

.box-mov {
    padding: 10px;
    flex: 1;
    border: 1px black solid;
    background-color: teal;
}

.box-comp {
    padding: 10px;
    border: 1px black solid;
    flex: 1;
    background-color: teal;
}

.box-websites {
    padding: 10px;
    border: 1px black solid;
    flex: 1;
    background-color: teal;
}

.box-dir {
    padding: 10px;
    border: 1px black solid;
    flex: 1;
    background-color: teal;
}

.container-gallery {
    display: flex;
    flex-wrap: wrap;
    /*
    justify-content: center;
    flex: 1;
    */
}

.container-gallery > div {
    flex: 1 1 150px;
}

.container-gallery > div > img {
    width: 250px;
    height: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/*
.container-gallery > div > .imghor {
    width: 300px;
    height: 200px;
}
*/

.container-contact {
    text-align: center;
}

}